@font-face {
	font-family: "trialBold";
	src: url("../fonts/TT-Runs-Trial-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
};

@font-face {
	font-family: "trialDemiBold";
	src: url("../fonts/TT-Runs-Trial-DemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
};

@font-face {
	font-family: "sansBold";
	src: url("../fonts/SourceSans3-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "sansSemiBold";
	src: url("../fonts/SourceSans3-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: "sansRegular";
	src: url("../fonts/SourceSans3-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}