.about {
    background: var(--color-bg-about);
    font-family: var(--font-family-regular);
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 29px;
        position: relative;

        @include mobile {
            flex-direction: column;
            row-gap: 38px;
            align-items: stretch;
        }
    }

    &__bg {
        position: absolute;
        top: 2%;
        left: 30%;
        transform: translate(-50%, -50%);
        z-index: 5;
        width: 70%;
        height: auto;

        @include desktop {
            top: -20%;
        }

        @include tablet {
            top: 0%;
        }

        @include mobile {
            top: -10%;
            left: 50%;
        }
    }

    &__left {
        border-radius: 24px;
        box-shadow: 11px 13px 21px 0 rgba(0, 0, 0, 0.1);
        background: var(--color-light);
        // height: 486px;
        min-height: 340px;
        padding: 28px 32px;
        color: var(--color-black);
        max-width: 520px;
        position: relative;
        z-index: 10;

        @include mobile {
            min-height: auto;
        }

        &-bg {
            position: absolute;
            top: 0;
            right: 0;
            border-top-right-radius: 24px;
        }
    }

    &__title {
        font-family: var(--trial-demi-bold);
        text-transform: uppercase;
        @include fluid-text(32, 24);
        color: var(--color-blue);
        margin-bottom: 12px;
    }

    &__text {
        @include fluid-text(24, 19);
        margin-bottom: 16px;
        line-height: 110%;
    }

    &__text-little {
        @include fluid-text(18, 11);
        line-height: 140%;
        margin-bottom: 16px;
    }

    &__right {
        background: var(--color-bg-right);
        border: 2px solid var(--color-light);
        border-radius: 24px;
        padding: 24px;
        position: relative;
        z-index: 10;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;

        @include tablet {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {
        border-radius: 16px;
        padding: 20px 12px;
        box-shadow: 11px 13px 21px 0 rgba(0, 0, 0, 0.1);
        background: var(--color-light);

        display: inline-flex;
        align-items: center;
        column-gap: 12px;
        min-height: 155px;

        @include tablet {
            min-height: 60px;
        }

        &-title {
            @include fluid-text(24, 13);
            font-weight: 700;
        }

        &-text {
            @include fluid-text(15, 10);
            color: var(--color-black);
            line-height: 110%;
            opacity: 0.8;
        }
    }

    &__arrow {
        border-radius: 100%;
        background-color: var(--color-blue);
        @include fluid-block(42, 30);
        position: relative;

        & svg {
            @include abs-center;
            color: var(--color-light);
        }
    }
}