.header {
    background-color: var(--color-blue-light);
    font-family: var(--trial-demi-bold);
    padding-top: 10px;
    padding-bottom: 10px;

    &__container {
        position: relative;
    }

    &__content {
        background-color: var(--color-light);
        padding: 10px;
        border-radius: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 10;
        border: 2px solid var(--color-border-light);
    }

    &__logo {

        &-link {
            display: flex;
            align-items: center;
            column-gap: 5px;
        }

        &-text {
            @include fluid-text(9, 5);
            text-transform: uppercase;
        }

        &-img {
            @include fluid-block(56, 31);
        }
    }

    &__nav {
        @media (max-width: 610px) {
            display: none;
        }
    }

    &__lists {
        display: flex;
        align-items: center;
        column-gap: 30px;
        @include fluid-text(16, 6);
    }

    &__icons {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }

    &__icon {
        border-radius: 100%;
        background: var(--color-gray-light);
        position: relative;

        @include fluid-block(45, 25);

        & img {
            @include abs-center;

            @include fluid-block(18, 8);
        }
    }

    &__phone {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__phone-number {
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translate(20px, -50%);
        @include fluid-text(16, 6);
        white-space: nowrap;
        background: var(--color-gray-light);
        padding: 8px 12px;
        border-radius: 20px;
        color: #000 !important;
        font-family: var(--trial-demi-bold);

        opacity: 0;
        pointer-events: none;

        transition: all 0.3s ease;
        z-index: 1;
    }

    &__icon-phone {
        cursor: pointer;
        z-index: 2;
        border-color: transparent;
    }

    /* активное состояние */
    &__phone.active .header__phone-number {
        opacity: 1;
        transform: translate(-10px, -50%);
        pointer-events: auto;
    }
}