

// .modal {
//     position: fixed;
//     inset: 0;
//     display: none;
//     z-index: 1000;
// }

.modal {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

// .modal__content {
//     position: relative;
//     max-width: 600px;
//     margin: 50px auto;
//     background: #fff;
//     padding: 30px;
//     border-radius: 10px;
//     max-height: 90vh;
//     overflow-y: auto;
// }

.modal__content {
    position: relative;
    // width: 100%;
    // max-width: 600px;

    background: var(--color-light);
    padding: 30px;
    border-radius: 12px;

    max-height: 90vh;
    overflow-y: auto;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--color-);
}

body.modal-open {
    overflow: hidden;
}